/* Main container for the sidebar and main content area */
.admin-main-content {
  display: flex;
  height: calc(100vh - 60px); /* Full screen height minus the navbar height */
  background-color: var(--color-background);
}

/* The main content area where pages will be displayed */
.admin-page-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto; /* Makes only this area scrollable */
}